 <!-- Resources -->
 <h2>Resources</h2>
 <p>The 3 articles below are guides to help you start and grow your relationship with Jesus Christ.</p>

 <div class="card-container" style="flex-direction: column; justify-content: center;">
   <a [routerLink]="['/articles', 1]" class="card" style="justify-content: space-between;">
      <fa-icon size="xl" [icon]="faHeart" class="fontawesomeIcons"></fa-icon>
     <span class="menu-item-text">Accept Christ</span>
     <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    
   </a>

   <a [routerLink]="['/articles', 2]" class="card" style="justify-content: space-between;">
      <fa-icon size="xl" [icon]="faHandsPraying" class="fontawesomeIcons"></fa-icon>
     <span class="menu-item-text">How to Pray</span>
     <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    
   </a>

   <a [routerLink]="['/articles', 3]" class="card" style="justify-content: space-between;">
    <fa-icon size="xl" [icon]="faBookBible" class="fontawesomeIcons"></fa-icon>
     <span class="menu-item-text">Life in the Spirit</span>
     <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    
   </a>
 </div>